@font-face {
    font-family: 'airbnb-cereal-app-book';
    src: url(../font/airbnb-cereal-app-book.ttf);
}

@font-face {
    font-family: 'airbnb-cereal-app-bold';
    src: url(../font/airbnb-cereal-app-bold.ttf);
}

@font-face {
    font-family: 'airbnb-cereal-app-medium';
    src: url(../font/airbnb-cereal-app-medium.ttf);
}

*{
    margin: 0px;
    padding: 0px;

}
.body{
    margin: 0;
    padding: 0;

}
.home-bg-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding:  20px 30px; 
    font-family: 'airbnb-cereal-app-book';
}
@media (max-width: 767px) {
    .home-bg-section{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg1.jpg);
        background-size: cover;
        background-position: center;
        padding:  10px 0px; 
        height: 100vh;
    }
    .logo-text{
        font-size: 23px;
        font-family: 'airbnb-cereal-app-book';
    }
}
.logo-imgs{
    display: flex;
}
.logo-imgs img{
    max-width: 100%;
    height: 32px;
    font-size: 18px;
    margin-right: 10px;
}
.logo-imgs a {
    text-decoration: none;
    font-family: 'airbnb-cereal-app-book';
    font-size: 18px;
    position: relative;
    top: 4px;
    left: 10px;
    color: #fff;
    font-size: 18px;
}
.logo-imgs a:hover{
    color: #fff;

}

.navbar-nav li a{
    margin-right: 10px;
    color: #adb5bd;
    font-size: 14px;
}
.navbar-nav li a:hover{
    color: #fff;
}

/* sidebar */
 .fa-solid{
    color: #fff;
    font-size: 30px;
}

@media (min-width: 768px) {
    .fa-solid{
        display: none;
     }
}

.offcanvas-body{
    background-color: #23afbb;
    overflow-y: auto;
    height: 100%;
}
.offcanvas-header{
    background-color: #23afbb;
    color: #fff;

}

.offcanvas-header #close-offcanvas {
    color: white !important;
    background-color: #23afbb; 
    border: none;
    font-size: 30px;
    padding-right: 10px;
}
.btn-close {
    color: white !important;
}
.offcanvas-body ul{
    list-style: none;

}
.offcanvas-body ul li a{
    padding-top: 22px;
    padding-bottom: 10px;
    color: #fff;
    display: block;
    font-size: 18px;
    list-style: none;
}
.offcanvas-body ul li a:hover{
    color: #ffc107;;
}
.logo-bottom {
    margin-top: auto;
    text-align: center; 
  }
.logo-bottom img{
    max-width: 80%;
    
}
.home-bg-section nav a{
    outline: none transparent;
}

/* home section */

.home-bg-sections{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content:center ;

}
.home-img {
    text-align: center;
}
.home-img img{
    font-size: 14px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
@media (max-width: 767px) {
    .home-img img {
        width: 70%;
    }
}

 /* readmore section  */
.qr-sections{
    box-shadow: 1px 2px 21px #c4c5c7;
    padding: 25px;
    border-radius: 25px;
    position: relative;
    margin: 5%;
    overflow-x: hidden;
    
}
@media (max-width: 767px) {
    .qr-sections{
        margin: 15% 5%;
    }
}


.qr-bg{
    position: relative;
    overflow: hidden;
}
.qr-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000075;
    border-radius: 15px;
}
.qr-bg .img-text-qr{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;

}
.read-text img{
    height: 180px;
    align-items: center;
}
.overlay-content h4{
    padding-bottom: 20px;
    font-size: 1.5rem;
    color: #fff; 
    margin-bottom: 3rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'airbnb-cereal-app-bold';

}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
    margin: 0 auto; 
}

.overlay-content  .img-qr{
    height: 150px;

}
@media (max-width: 767px){
    .overlay-content  .img-qr{
        height: 100px;
     }
     .overlay-content{
        width: 80%;
     }
}


.card-outer{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 6px 6px 34px #d1d1d1;
    height: auto;
}
.card-outer .card-body{
    padding-left: 30px;
}
.card-body .used-book{
    border: 1px solid #b8bbbf;
    display: inline-block;
    padding: 2px 11px;
    border-radius: 8px;
    color: #6b6b6c;
    margin-right: 10px;
    margin-bottom: 7px;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    font-family: 'airbnb-cereal-app-medium';

}

.card-body .book-title{
    color: #232323;
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 10px;
    font-family: 'airbnb-cereal-app-bold';

}
.card-body .book-text{
  font-size: 12px;
  margin-bottom: 10px;
  color: #6e6e6e;
}


.btn-book {
    font-size: 11px;
    color: #fff ;
    background-color: #23afbb;
    padding: 8px 12px; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    display: inline-block;
    margin-right: 30px;
    font-family: 'airbnb-cereal-app-medium';

  }
  .btn-book:hover{
    color: #fff ;
  }
/*  */
.forword-contact {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    
  }

.books-view ul li button img{
    width: 30px;
}
.dropdown-list-item{
    margin-right: 50px;
}
.custom-btn {
    background-color: #fff;
    border: none;
    padding: 0; 
  }

  .copy {
    text-align: right;
    margin-right: 15px;
    font-size: 15px;
    margin-top: 10px;
  }
.dropdown-list-item .list-text{
    font-size: 11px;
}

/*  */
.btn.custom-btn:focus,
.btn.custom-btn:active {
  box-shadow: none;
}
.books-view ul li button img{
    height: 25px;
    width: 30px;
}
.dropdown-list-item a{
    display: flex;
    font-size: 11px;
    color: #6e6e6e;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 20px;
}
.dropdown-list-item .list-linkedin{
    padding-bottom: -20px;
}
.dropdown-list-item a:hover{
    color: #212529;
}
.dropdown-list-item i {
    margin-right: 10px;
    
}

/* form section  */
.buy-section{
    background-color: #33ADB7;
    padding: 0% 7%;
    font-size: 16px;

}
.buy-section .form-title{
    padding-top: 60px;  
}
.form-title h2{
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    font-family: 'airbnb-cereal-app-bold';
}
.form-sections{
    padding-bottom: 55px;
    font-size: 14px;
}


@media (max-width: 767px) {
    
    .buy-section {
        display: flex;
        align-items: stretc;
      }
    
      .sell-section {
        display: flex;
        align-items: stretch;
      }
      .rotate-content {
        transition-duration: 0.8s;
        transition-property: transform;
        writing-mode: vertical-lr;
        white-space: nowrap;
        transform: rotate(180deg);
        margin-bottom: auto; 
        margin-top: 14%; 
        margin-right: 15px;

      }
      
      .form-title h2 {
        margin: 0;
        padding: 0;
      }
      .form-sections {
        padding-top: 35px;
        flex-grow: 1; 
      }
    }

.sell-section{
    background-color: #3F3F3F;
    background-image: url(../images/bg-circle\ \(1\).png);
    background-size: 500px;
    padding: 0% 7%;
    font-size: 16px;


}
.sell-section .form-title{
    padding-top: 60px;  
}

/* form area */
.input-section{
    padding-top: 20px;
}


.custom-section{
    display: flex;
    justify-content: space-between;
}
.conatct-button{
    padding-top: 25px;
    display: flex;
    align-items: right !important;
    justify-content: right !important;
}
.conatct-button .btn-buy{
    color: #33ADB7;
    background-color: #fae100;
    border: none;
    font-size: 16px;
    min-width: 200px;
    padding: 10px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}
.conatct-button .btn-buy:hover{
    color: #33ADB7;
    background-color: #fae100;

}
.conatct-button .btn-sell:hover{
    color: #fff;
    background-color: #33ADB7;

}
.conatct-button .btn-sell{
    color: #fff;
    background-color: #33ADB7;
    border: none;
    font-size: 16px;
    min-width: 200px;
    padding: 10px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}

/* book section  */

.wrapper{
    width: 100%;
    max-width: 300px;
}
.select-btn{
    border: none;
  font-size: 14px;
  box-shadow: 9px 8px 22px #d7d7d7;
  background-color: #fff;
  padding: 8px 15px 6px 100px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content{
    box-shadow: 9px 8px 22px #d7d7d7;
    background-color: #fff;
    border-radius: 7px;
}
.content .search i{
    position: absolute;
    transform: translatex(-100%);
    padding-top: 5px;
    padding: 4px 20px 5px 5px;
  border-radius: 5px;
  border: 1px  #ccc;
  cursor: pointer;
}
.content .search input{
    width: 100%;    
}

.content .options{
    list-style: none;
}
.content .options li{
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #71717b;
    font-size: 13px;

}
.content .options li:hover{
    color: #000;

}

.icon-search{
    color: #23afbb;
    background-color: #fff;
}

.border-0{
    border: 0;
    box-shadow: 6px 6px 34px #d1d1d1;

}

.book-section{
    background-color: #fff;
    padding: 0% 5%;
    margin-top: 3%;
    padding-bottom: 30px;
}


.search_select_box select{
    width: 100%;
}


.input-section-book select {
    width: 100%;
    font-size: 12px;
    box-shadow: 6px 6px 34px #d1d1d1;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    color: #71717b;
    
}

.book-search{
    margin-right: 15%;
}


.drop-book{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-img-book{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 10px;
    border-radius: 25px;
}
.card{
    border-radius: 50px;
}


.chosen-select{
    width: 100%;
    font-size: 12px;
    box-shadow: 6px 6px 34px #d1d1d1;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    color: #71717b;
    height: 35px;

}

/* pagination */
.page-content{
    flex-wrap: wrap;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 4%;
}
.card-outer{
    margin-right: 20px;
}
#pagination-nbr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #fff;
    list-style: none;
    padding-bottom: 30px;
  }
  
  #pagination-nbr li {
    margin: 0;
  }
  
  #pagination-nbr li span,
  #pagination-nbr li a {
    background-color: white;
    padding: 10px;
    border: 1px solid #dee2e6;
    font-size: 18px;
    margin: 2px; 
    border-radius: 5px;
    border: none; 
    color: #676762;
  }
  
  #pagination-nbr li.active span,
  #pagination-nbr li.active a {
    background-color: white;
    border-color: #dee2e6;
    color: #000;
  }

/* footer */
.footer-about{
    background-color: #33ADB7;
    color: #fff;
    height: auto;
}
.footer-address{
    background-color: #232323 !important;
    height: 100%;
}
.footer-right-list{
    padding-top: 20%;
}

.footer-about-img{
    padding-top: 5%;
}
.foot-img1{
    max-height: 100px;
    margin-left: 5%;
}
.foot-img2{
    max-height: 100px;
    margin-right: 4%;
}
.footer-abt-text h5{
    font-size: 13px;
    line-height: 15px;
    margin: 0% 5%;
    margin-top: 30px;
    font-family: 'airbnb-cereal-app-book';
}

.social-different-accnt{
    font-size: 28px;
    margin-left: 5%;
}
.social-different-accnt a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
.social-different-accnt a:hover{
    color: #fff;
}
.social-different-accnt  a i {
    margin: 5% 0%;
    margin-right: 20px;
}


.logo-img-footer{
    height: 30px;
    padding-right: 20px;
    padding-bottom: 5px;
    
}
.logo-img-footer1{
    height: 35px;
    padding-right: 22px;
    padding-bottom: 5px;
    
}
.logo-img-footer2{
    height: 25px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.footer-address ul li{
    margin-bottom: 20px;
    display: flex;
}
    
.hover-style-link {
    color: #bdbfc5;
    text-decoration: none;
    display: inline-block;
    vertical-align: top; 
    font-size: 19px;
}
.hover-style-link:hover{
    color: #bdbfc5;

}
.footer-address{
    padding-left: 20%;
}
@media (max-width: 767px) {
    .footer-address{
        padding-left: 0px;
    }
}
.copy-right-section{
    background: #1c1c1c;
    padding-top: 20px;
}

.copyright-text{
    color: #676762;
    font-size: 12px;
    font-weight: 400;
}
.copy-right-section p a{
    color: #676762;
    text-decoration: none;
}